# =======================================
# Dependências Principais do Projeto
# =======================================

# --- Core do Streamlit e Interface ---
streamlit
streamlit-aggrid

# --- Manipulação e Análise de Dados ---
pandas
numpy

# --- Visualização de Dados ---
plotly

# --- Conexões com Banco de Dados e APIs ---
SQLAlchemy
mysql-connector-python
google-analytics-data
facebook-business

# --- Utilitários ---
python-dotenv
XlsxWriter